// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// Variables
$font-default: 'Roboto', sans-serif;

// Some resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: none;
    button {
        background: inherit;
    }
}

// Utility
.pd-x {
    padding: 1rem 0;
}
.pd {
    padding: 1rem;
}
.flex {
    display: flex;
    gap: 0.5rem;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
// Styles
body {
    font-family: $font-default;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #231E36;
    color: #BCB8CC;
    font-size: 1rem;
    font-weight: 300;
}
h1 {
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
}
p {
    line-height: 2rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.container  {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-height: 720px;
    margin: 2rem;
    background-color: #1C172E;
    border: 1px solid #222;
    border-radius: 1rem;
    padding: 2rem 4rem;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
}

.success {
    background-color: #22C55E;
}
.failure {
    background-color: #9b2740;
}
.hidden {
    visibility: hidden;
}
.btn {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #4929BB;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    transition-property: opacity, box-shadow, transform;
    &:hover {
        opacity: 0.9;
        box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.1);
        transform: scale(0.995);
    }
    &:disabled {
        opacity: 0.5;
    }
}
input[type=text] {
    flex: 1;
    border: 1px solid #4929BB;
    padding: 1rem;
    background-color: #1C172E;
    border-radius: 1rem;
    transition: opacity 0.3s ease-in-out;
    &:focus {
        outline: 1px solid #4929BB;
      
    }
    &:disabled {
        border-color: rgba(73, 41, 187,0.5);
    }
}
label {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
}
.lastResult {
    text-align: center;
    color: #fff;
    line-height: 1rem;
}
.resetButton {
    width: 100%;

}

@media (max-width: 40em) {
    .flex {
        flex-direction: column;
    }
    .container {
        text-align: center;
    }
}