@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
}

.numbers {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.numbers > span {
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2rem;
    color: #7C3AED;
    z-index: 1;
    transform: rotate(180deg);
}

.spinning {
    animation-name: spinning;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 2;
}

h1 {
    color: #2563EB;
    margin: 0;
}

.hidden {
    display: none;
}

.shrink {
    transform: scale(0);
}

.btn {
    cursor: pointer;
    margin: 1rem;
    background-color: #7C3AED;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: transform 0.2s ease-in-out;
}

.lets-go {
    transition: transform 0.2s ease-in-out;
}
.get-ready {
    transition: transform 0.2s ease-in-out;
}

@keyframes spinning {
    0%   {transform: rotate(180deg)}
    25%  {transform: rotate(-15deg)}
    40%  {transform: rotate(5deg)}
    60%  {transform: rotate(-5deg)}
    75%  {transform: rotate(5deg)}
    100% {transform: rotate(-180deg)}
}
