body {
    background-color: #171717;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #fafafa;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;
}

body.game-over {
    background-color: #7f1d1d;
}

body.success {
    background-color: #14532d;
}

body.loading {
    background-color: #1C1917;
}

h2 {
    color: #737373;
    margin: 4rem 0 2rem 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

button {
    cursor: pointer;
}

.header > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header button {
    background: #171717;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.header button:disabled {
    border-color: #525252;
    color: #525252;
}

.buttons-wrap {
    display: inline-block;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.buttons button {
    width: 100px;
    height: 100px;
    border: none;
}

.red {
    background-color: #dc2626;
}

.red:hover {
    background-color: #991b1b;
}

.red.light {
    background-color: #f87171;
}

.yellow {
    background-color: #d97706;
}

.yellow:hover {
    background-color: #92400e;
}

.yellow.light {
    background-color: #facc15;
}

.green {
    background-color: #16a34a;
}

.green:hover {
    background-color: #166534;
}

.green.light {
    background-color: #4ade80;
}

.blue {
    background-color: #2563eb;
}

.blue:hover {
    background-color: #1e40af;
}

.blue.light {
    background-color: #60a5fa;
}

@media (min-width: 640px) {
    body {
        padding: 5rem;
        font-size: 1.5rem;
    }
    .header {
        flex-direction: row;
        gap: 4rem;
        margin-bottom: 4rem;
    }

    .buttons button {
        width: 200px;
        height: 200px;
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
